In [13]:
print("hello")

hello

In [14]:
# variable types chek  #
a = 200
print(a)
print("The type of variable having value",a,"is",type(a))

200
The type of variable having value 200 is <class 'int'>

In [15]:
c= 100+5j
print(c)
print("The type of variable having value",c,"is",type(c))

(100+5j)
The type of variable having value (100+5j) is <class 'complex'>

In [16]:
num_1 = 2.5e4
print(num_1)
print("The type of variable having value",num_1,"is",type(num_1))

25000.0
The type of variable having value 25000.0 is <class 'float'>

In [17]:
# casting#
num_1 = 5
num_2 = 12.4
a = float(num_2-num_1)  #casting 
print(a,type(a))

7.4 <class 'float'>

In [18]:
num_2 = 12.4
b = int(num_2)
print(b,type(b))

12 <class 'int'>

In [19]:
#python collectio four major data type 
#List,Tuple,Set,Dictionary
#Python List 
my_list = [1,10,15,18]
print(type(my_list))
print(my_list)
print(my_list[0])

<class 'list'>
[1, 10, 15, 18]
1

In [20]:
#changing 2nd index value 
my_list = [1,10,15,18]
my_list[2]=45
print(my_list)

[1, 10, 45, 18]

In [21]:
my_list =[1,10,10,"eat",8,True]
print(my_list,type(my_list),len(my_list))

[1, 10, 10, 'eat', 8, True] <class 'list'> 6

In [22]:
#
my_list =[1,10,10,"eat",8,True]
print(my_list[-1])

True

In [23]:
#sub indexing
my_list =[1,10,10,"eat",8,True]
print(my_list[1:4])#methan apita subset krana awashya index ekata ekak wadiyen deveni value eka dan naona.nattan apita awashya eka enne na.ekata ekak aduwen enne

[10, 10, 'eat']

In [24]:
my_list =[1,10,10,"eat",8,True]
print(my_list[:3]) #api mul index eka 0 nisa eka danne na me widiyata thamaiapi o index ekai anith index ewai subset kraddi ganne

[1, 10, 10]

In [25]:
my_list =[1,10,10,"eat",8,True]
print(my_list[3:])#methana wenne apita sub set kran ona eka index ekaka idan lsit eke last index eka wenakm nm apita mehema subset kranna puluwan

['eat', 8, True]

In [26]:
#Quection(2 & 3 indexes includes dog & 19.0)
my_list =[1,10,10,"eat",8,True]
my_list[2:4] = "dog",19.0
print(my_list)

[1, 10, 'dog', 19.0, 8, True]

In [27]:
#insert
my_list =[1,10,10,"eat",8,True]
my_list.insert(3,"rabbit")
print(my_list,len(my_list))

[1, 10, 10, 'rabbit', 'eat', 8, True] 7

In [28]:
#append(incluede new index in array end)
my_list =[1,10,10,"eat",8,True]
my_list.append("car")
print(my_list,len(my_list))

[1, 10, 10, 'eat', 8, True, 'car'] 7

In [29]:
#extend lits
my_list =[1,10,10,"eat",8,True]
new_list =[24,"10",10,"Beat","BUs",False]
my_list.extend(new_list)
print(my_list)

[1, 10, 10, 'eat', 8, True, 24, '10', 10, 'Beat', 'BUs', False]

In [30]:
#remove index
my_list =[1,10,10,"eat",8,True]
my_list.pop(4)
print(my_list)

[1, 10, 10, 'eat', True]

In [31]:
#remove value
my_list =[1,10,10,"eat",8,True]
my_list.remove("eat")
print(my_list)

[1, 10, 10, 8, True]

In [32]:
#delete list 
my_list =[1,10,10,"eat",8,True]
del my_list

In [33]:
#Clear(all indexes are removed)
my_list =[1,10,10,"eat",8,True]
my_list.clear()
print(len(my_list),my_list)

0 []

In [34]:
#sort array(by default sort)
my_list = ["banana","apple","beans","rice"]
my_list.sort()
print(my_list)

['apple', 'banana', 'beans', 'rice']

In [35]:
#Case sensitive sort
#capital letters include value.this value is priority. capital lettr include word in any placecs.this word priority.
my_list = ["banana","apple","Beans","rice"]
my_list.sort()
print(my_list)

['Beans', 'apple', 'banana', 'rice']

In [36]:
#Case insensitive sort(accendin)
my_list = ["dog","banana","apple","Beans","rice"] 
my_list.sort(key=str.lower)
print(my_list)

['apple', 'banana', 'Beans', 'dog', 'rice']

In [37]:
#Case insensitive sort(deccending)
my_list = ["dog","banana","apple","Beans","rice"] 
my_list.sort(reverse=True)
print(my_list)

['rice', 'dog', 'banana', 'apple', 'Beans']

In [38]:
#change array order(not accending or diccending)
my_list = ["dog","banana","apple","Beans","rice"] 
my_list.reverse()
print(my_list)

['rice', 'Beans', 'apple', 'banana', 'dog']

In [39]:
my_list1 = [-10,-18,12,5,7,12,-3]
my_list2 = [8,4,-3,9,2,11]
my_list1.extend(my_list2)
print("Extended list:", my_list1)

my_list1.sort()
print("Sorted list:", my_list1)

# Find the median
list_length = len(my_list1)
if list_length % 2 == 0:
    median = (my_list1[list_length//2 - 1] + my_list1[list_length//2]) / 2
else:
    median = my_list1[list_length // 2]
print("Median:", median)

# Split the data into two halves
list_Q1 = my_list1[:list_length // 2]
list_Q3 = my_list1[(list_length + 1) // 2:]

# Calculate Q1 (Median of the first half)
list_Q1_length = len(list_Q1)
if list_Q1_length % 2 == 0:
    q1 = (list_Q1[list_Q1_length // 2 - 1] + list_Q1[list_Q1_length // 2]) / 2
else:
    q1 = list_Q1[list_Q1_length // 2]
print("Q1:", q1)

# Calculate Q3 (Median of the second half)
list_Q3_length = len(list_Q3)
if list_Q3_length % 2 == 0:
    q3 = (list_Q3[list_Q3_length // 2 - 1] + list_Q3[list_Q3_length // 2]) / 2
else:
    q3 = list_Q3[list_Q3_length // 2]
print("Q3:", q3)

Extended list: [-10, -18, 12, 5, 7, 12, -3, 8, 4, -3, 9, 2, 11]
Sorted list: [-18, -10, -3, -3, 2, 4, 5, 7, 8, 9, 11, 12, 12]
Median: 5
Q1: -3.0
Q3: 10.0