In [29]:
my_list = [20,15,"Dog","True"]
my_list_2 = my_list.copy()
my_list[1] = 35
print(my_list)
print(my_list_2)

[20, 35, 'Dog', 'True']
[20, 15, 'Dog', 'True']

In [30]:
my_tuples = ("dog", "cat", 10)
my_tuples = (my_tuples[0], "rat", my_tuples[2])
print(my_tuples[1])

rat

In [31]:
my_tuples1 = ("a", "b", "c",)
my_tuples2 = list(my_tuples1)
my_tuples2[1]="Rat"
my_tuples1=tuple(my_tuples2)
print(my_tuples1, type(my_tuples1))

('a', 'Rat', 'c') <class 'tuple'>

In [32]:
my_tuples01 = (10, 8, 20, 5)
my_tuples02 = (5, 9, -1)
combined_list = list(my_tuples01) + list(my_tuples02)
combined_list.sort()
print(combined_list)

[-1, 5, 5, 8, 9, 10, 20]

In [33]:
my_tuples = ((1, 10, 8), ("dog", "cat", "rat"), (True, False))
value = (my_tuples[0][1], my_tuples[1][2], my_tuples[2][0])
print(value)

(10, 'rat', True)

In [34]:
# range =(value1, value2, value3)
s1 = range(2, 15, 3)
print(s1, type(s1))

range(2, 15, 3) <class 'range'>

In [35]:
grades = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "Diana": 90
}
print(grades, type(grades))

{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'Diana': 90} <class 'dict'>

In [36]:
grades = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "Diana": 90

}
print("Length of grades dictionary:", len(grades))

Length of grades dictionary: 4

In [37]:
grades = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "Diana": 90,
    "student grade": [2, 3, 5, 10, 10]
}

# print(grades)
print(grades["Alice"])

85

In [38]:
grades = {
    "Alice": 10,
    "Bob": 5,
    "Charlie": 20,
    "Diana": 30
}

grades.update({"Alice": 88, "Bob": 95, "Eve": 91})

print(grades)

{'Alice': 88, 'Bob': 95, 'Charlie': 20, 'Diana': 30, 'Eve': 91}

In [39]:
dict01 = {"name": "Alice", "weight": "kg", "value": 120.25}

dict02 = dict01.copy()

dict01["value"] = 200.75

print("dict01:", dict01)
print("dict02:", dict02)

dict01: {'name': 'Alice', 'weight': 'kg', 'value': 200.75}
dict02: {'name': 'Alice', 'weight': 'kg', 'value': 120.25}

In [40]:
dict01 = {"name": "Alice", "weight": "kg", "value": 120.25}

print(dict01.keys())

dict_keys(['name', 'weight', 'value'])